@use "../tokens" as *;

// Clases de título: permiten aplicar el tamaño visual de un nivel de título a cualquier etiqueta, independientemente de su nivel semántico (h1-h6).
// Una clase sola ya gana por especificidad a los selectores de tipo (h1-h6) definidos en base/typography

.titulo--xxl {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-xxl);
  line-height: var(--tipo-altura-linea-s);
  margin: 0 0 var(--heading-spacing-xl);
}

.titulo--xl {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-xl);
  line-height: var(--tipo-altura-linea-s);
  margin: 0 0 var(--heading-spacing-l);
}

.titulo--lg {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-l);
  line-height: var(--tipo-altura-linea-xs);
  margin: 0 0 var(--heading-spacing-m);
}

.titulo--md {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-m);
  line-height: var(--tipo-altura-linea-s);
  margin: 0 0 var(--heading-spacing-s);
}

.titulo--sm {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-s);
  line-height: var(--tipo-altura-linea-m);
  margin: 0 0 var(--heading-spacing-xs);
}

.titulo--xs {
  font-family: var(--tipo-familia-base);
  font-weight: var(--tipo-peso-semibold);
  color: inherit;
  font-size: var(--tipo-tamano-titulo-xs);
  line-height: var(--tipo-altura-linea-l);
  margin: 0 0 var(--heading-spacing-xs);
}