@use "primitives" as *;

// Variables de espaciado
:root {

    	--espaciado-0: #{$espaciados-0};
		--espaciado-2: #{$espaciados-2};
		--espaciado-4: #{$espaciados-4};
		--espaciado-8: #{$espaciados-8};
		--espaciado-12: #{$espaciados-12};
		--espaciado-16: #{$espaciados-16};
		--espaciado-20: #{$espaciados-20};
		--espaciado-24: #{$espaciados-24};
		--espaciado-28: #{$espaciados-28};
		--espaciado-32: #{$espaciados-32}; 
		--espaciado-36: #{$espaciados-36}; 
		--espaciado-40: #{$espaciados-40}; 
		--espaciado-48: #{$espaciados-48};
		--espaciado-56: #{$espaciados-56};
		--espaciado-64: #{$espaciados-64};
		--espaciado-72: #{$espaciados-72};
		--espaciado-80: #{$espaciados-80};
}