@use "../tokens" as *;
@use "icons" as *;

:root {
	--btn-gap: var(--espaciado-8);
	--btn-padding-y: var(--espaciado-8);
	--btn-padding-x: var(--espaciado-24);
	--btn-radius: var(--borde-radio-xs);
	--btn-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
	--btn-color-primary: var(--primario-principal);
	--color-primary-hover: var(--primario-oscuro);
	--color-primary-text: var(--neutro-0);
	--color-secondary-hover: var(--primario-claro);


}

.boton {
	position: relative; // Analizar esto
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	gap: var(--btn-gap);
	vertical-align: middle;
	padding: var(--espaciado-8) 20px;
	min-height: 42px;
	border: 1px solid transparent;
	border-radius: var(--btn-radius);
	font: inherit;
	font-family: var(--tipo-familia-base);
	font-weight: $tipo-peso-semibold;
	line-height: var(--tipo-altura-linea-l);
	cursor: pointer;
	box-shadow: var(--btn-shadow);
	transition: background-color 0.2s ease;

	.icono:not(.icono--iniciales) {
		@include icon-size(s);
		flex-shrink: 0;

		&:first-child {
			margin-left: -2px;
		}

		&:last-child {
			margin-right: -2px;
		}
	}

	&.boton--icono {
		.icono {
			margin: 0 !important;
		}
	}

	>span:not(.icono) {
		flex: 1;
		display: flex;
	}

	/* Por tipo de boton */
	&.boton--primario {
		background-color: var(--btn-color-primary);
		color: var(--color-primary-text);

		.icon {
			background: var(--color-primary-text);
		}
	}

	&.boton--secundario {
		background-color: var(--neutro-0);
		border-color: var(--btn-color-primary);
		color: var(--btn-color-primary);

		.icon {
			background: var(--btn-color-primary);
		}

		&:hover:not(:disabled),
		&:focus-visible:not(:disabled),
		&[aria-expanded="true"] {
			background-color: var(--color-primary-hover);
			color: var(--color-primary-text);

			.icon {
				background: var(--color-primary-text);
			}
		}
	}



	&.boton--enlace {
		color: var(--btn-color-primary);
		box-shadow: none;
		background: transparent;
		text-decoration: underline;

		text-decoration-thickness: .0625rem !important;
		text-underline-offset: .1625em;

		// Ajustes de alineación del tag - El resto de los atributos asociados a los tag están en el archivo _tags.scss

		.tag {

			&.tag--indicador {
				/**/
				margin: calc(var(--btn-padding-y) - calc(var(--btn-badge-point-size) / 2)) calc(var(--btn-padding-x) - calc(var(--btn-badge-point-size) / 2)) 0 0;
				transform: translateX(75%);

				&--numerico {
					margin: calc(var(--btn-padding-y) - calc(var(--btn-badge-tag-size) / 2)) var(--btn-padding-x) 0 0;
					transform: translateX(75%);
				}
			}
		}
	}

	&.boton--primario:hover:not(:disabled),
	&.boton--primario:focus-visible:not(:disabled),
	&.boton--primario[aria-expanded="true"] {
		background-color: var(--color-primary-hover);
	}

	&.boton--enlace:hover:not(:disabled),
	&.boton--enlace:focus-visible:not(:disabled),
	&.boton--enlace[aria-expanded="true"] {
		background-color: var(--color-secondary-hover);
		text-decoration: none;
	}

	&.boton--icono {
		padding: var(--btn-padding-y) var(--btn-padding-y);
		aspect-ratio: 1;

		>span:not(.tag--indicador):not(.icono) {
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			clip: rect(0, 0, 0, 0);
			border: 0;
		}
	}


	// boton icono + boton enlace	

	&.boton--icono.boton--enlace {

		// Ajustes de alineación del tag - El resto de los atributos asociados a los tag están en el archivo _tags.scss
		.tag {
			&.tag--indicador {
				margin: calc(var(--btn-badge-point-size) / 3) var(--btn-badge-point-size) 0 0;

				&--numerico {
					margin-top: calc(var(--btn-badge-tag-size) / -4);

				}
			}
		}
	}

	/* Por estados */
	&:disabled {
		box-shadow: none;
		cursor: not-allowed;
		opacity: .4;
	}

	&:active:not(:disabled),
	&[aria-expanded="true"] {
		background-color: var(--btn-bg-hover, transparent);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

		.icono.down {
			transform: rotate(180deg);
			transition: transform 0.2s ease;
		}
	}

	/* Por tamaño */
	&.boton--l {
		font-size: var(--tipo-tamano-parrafo-l);
		line-height: var(--tipo-altura-linea-m);
		min-height: 43px;

		&:not(.boton--icono) {
			padding: var(--espaciado-8) var(--espaciado-24);
		}

		.icono {
			@include icon-size(m);
		}
	}

	&.boton--m .icono {
		@include icon-size(s);
	}

	&.boton--s {
		font-size: var(--tipo-tamano-parrafo-s);
		min-height: 39px;

		&:not(.boton--icono) {
			padding: var(--espaciado-8) var(--espaciado-16);
		}

		.icono {
			@include icon-size(xs);
		}
	}
}

.botonera {
	list-style: none;
	display: inline-flex;
	gap: 0;
	padding-left: var(--espaciado-0);
	border: 1px solid transparent;
	border-color: var(--btn-color-primary);
	border-radius: var(--borde-radio-xs);
	box-shadow: var(--btn-shadow);

	.boton {
		padding: var(--btn-padding-y) var(--btn-padding-y);
		border-radius: var(--borde-radio-0);
		border-color: transparent;
		box-shadow: none;
		line-height: var(--tipo-altura-linea-1);
		height: 100%;

		/*&.boton--secundario {
			background: transparent;
		}

		.icono {
			@include icon-size(s);
			margin: var(--espaciado-2) !important;
		}*/
	}

	>li:first-child>.boton,
	>li:first-child>.desplegable-wrapper>.boton {
		border-radius: calc(var(--borde-radio-xs) - 1px) var(--borde-radio-0) var(--borde-radio-0) calc(var(--borde-radio-xs) - 1px);
	}

	>li:last-child>.boton,
	>li:last-child>.desplegable-wrapper>.boton {
		border-radius: var(--borde-radio-0) calc(var(--borde-radio-xs) - 1px) calc(var(--borde-radio-xs) - 1px) var(--borde-radio-0);
	}


	>li+li {
		border-left: solid 1px var(--btn-color-primary);
	}

	&.botonera--primaria {
		>li+li>.boton--primario {
			border-left: solid 1px var(--primario-claro);
			padding-left: calc(var(--btn-padding-y) + 1px);
		}
	}
}

.boton-desplegable {
	display: inline-flex !important;

	>.boton:first-of-type {
		border-top-right-radius: var(--borde-radio-0);
		border-bottom-right-radius: var(--borde-radio-0);
		border-right-width: 0;
	}

	>.boton:nth-of-type(2) {
		border-top-left-radius: var(--borde-radio-0);
		border-bottom-left-radius: var(--borde-radio-0);
		border-left: solid 1px var(--btn-color-primary);
	}

	&.boton-desplegable--primario>.boton:nth-of-type(2) {
		border-left: solid 1px var(--primario-claro);
	}
}

.enlace {
	display: inline-flex;
	align-items: center;
	gap: var(--btn-gap);

	&.enlace--s {
		font-size: var(--tipo-tamano-parrafo-s);

		.icono {
			@include icon-size(xs);
		}
	}

	&.enlace--m {
		font-size: var(--tipo-tamano-parrafo-m);

		.icono {
			@include icon-size(s);
		}
	}

	&.enlace--l {
		font-size: var(--tipo-tamano-parrafo-l);

		.icono {
			@include icon-size(m);
		}
	}
}
