

.u-mb0 {margin-bottom: 0!important;}
.u-mb1 {margin-bottom: var(--espaciado-8);}
.u-mb2 {margin-bottom: var(--espaciado-16);}
.u-mb3 {margin-bottom: var(--espaciado-24);}
.u-mb4 {margin-bottom: var(--espaciado-32);}
.u-mb5 {margin-bottom: var(--espaciado-40);}
.u-mb6 {margin-bottom: var(--espaciado-48);}

.u-mt0 {margin-top: 0!important;}
.u-mt1 {margin-top: var(--espaciado-8);}
.u-mt2 {margin-top: var(--espaciado-16);}
.u-mt3 {margin-top: var(--espaciado-24);}
.u-mt4 {margin-top: var(--espaciado-32);}
.u-mt5 {margin-top: var(--espaciado-40);}
.u-mt6 {margin-top: var(--espaciado-48);}

