@use "../tokens" as *;

.SkipLink {
  position: absolute;
  top: -40px;
  left: -10000px;
  width: 1px;
  height: 1px;
  padding: var(--espaciado-16) var(--espaciado-24);
  overflow: hidden;
  transition: top .3s;
  color: var(--neutro-0);
  background: var(--neutro-1000);
}

.SkipLink:focus {
  color: var(--neutro-0);
  top: 0;
  left: 0;
	z-index: var(--z-skip);
  width: auto;
  height: auto;
}
